<%= render 'header' %>
<% @mechanics.each do |mechanic| %>
<div id="mechanic-<%= mechanic.id %>">
  <h3><%= mechanic.name %></h3>
<p>Years of experience: <%= mechanic.years_experience %></p></div>
<% end %>
<h2>Average years of experience of all mechanics: <%= @mechanics.avg_experience %></h2>
