<h1> Mechanic Show </h1>

<p>Name: <%= @mechanic.name %></p>
<p>Experience: <%= @mechanic.experience%></p>

<% @open_rides.each do |ride| %>
<p>Ride name: <%= ride.name %></p>
<p>Thrill Rating: <%= ride.thrill_rating %></p>
<% end %>

<%= form_with url: '/ride_mechanics', method: :post, local: true do |f| %>
  <%= f.label :ride_id %>
  <%= f.text_field :ride_id %>

  <%= f.submit "Submit" %>
<% end %>
