<p>Mechanic: <%= @mechanic.name %></p>
<p>Years of Experience: <%= @mechanic.years_experience %></p>
<p>Current rides they're working on:</p>
<% @mechanic.rides.order_by_thrill.each do |ride| %>
<% if ride.open %>
<p><%= ride.name %></p>
<% end %>
<% end %>
<p>Add a ride to workload: </p>
<%= form_with url: "/mechanics/#{@mechanic.id}", local: true do |f| %>
<%= f.label "Ride ID" %>
<%= f.text_field :ride_id %><br>
<%= f.submit "Submit"%>
<% end %>
