<h1>Mechanic Show Page</h1>

<h2>Name: <%= @mechanic.name %></h2>
<h2>Experience: <%= @mechanic.years_experience %></h2>


<h3>Open Rides Currently Working On:</h3><br>


<% @mechanic.open_rides_desc.each do |ride| %>
<section id="rides-<%= ride.id %>">

  Name: <%= ride.name %> <br>
  Thrill Rating: <%= ride.thrill_rating %> <br><br>

</section>
<% end  %>
<br><br>
<h3>Add Ride to Workload:</h3>

<%= render partial: 'form', locals: {
                                      path: "/mechanics/#{@mechanic.id}",
                                      method: :p0st,
                                      button_text: 'Submit'} %>
