<h2>Name: <%= @mechanic.name %></h2>
<h2>Years Experience: <%= @mechanic.years_experience %></h2>

<h2>Rides <%= @mechanic.name %> is working on: </h2>
<% @rides.each do |ride| %>
  <p><%= ride.name %></p>
<% end %>

<h3>Add a ride to workload: </h3><%= form_with url: "/mechanics/#{@mechanic.id}", method: :patch, local: true do |f| %>
  <%= f.label "Ride Id" %>
  <%= f.text_field "Ride Id" %>
  <%= f.submit "Submit" %>
<% end %>
