
<section id = 'park_info'>
	<h4>Park Info:</h4>
	<p>Name: <%= @amusement_park.name %></p>
	<p>Addmissions: $<%= '%.2f' % @amusement_park.admission_cost %></p>
</section>


<section id = 'rides_info'>
	<h4>Rides:</h4>
	<% @amusement_park.rides_alpha.each_with_index do |ride, index| %>
	<p>Ride No. <%= index + 1 %>: <%= ride.name %></p>
	<% end %>
</section>

	<h4>Average Thrill Rating of Rides: <%= @amusement_park.average_thrill_rating.round(1) %>/10</h4>
